[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]*/
[Aa][Rr][Mm]64*/


build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
logs/
*.log


*.nupkg
*.snupkg
.nuget/
packages/

*.nuspec
*.dll
*.exe
*.pdb
*.cache
*.so
*.dylib
*.o
*.a


.vscode/
.vs/
.vscode/*

*.csproj.user
*.csproj.DotSettings
*.suo
*.sln.docstates


.vscode/

secrets.json


.idea/


docker-compose.override.yml
*.dockerfile

.DS_Store
Thumbs.db

*.tmp
*.temp